.admin-header ion-toolbar {
  --background: #3b2418;
  --color: #ffffff;
}

.admin-header-title img {
  height: 30px;
}

.admin-header ion-buttons ion-button {
  --color: #f0e4d6;
  font-weight: 600;
}
